@import "@fontsource/itim/400.css";
@import "@fontsource/mirza/400.css";

body {
    margin: 0;
    padding: 0;
    background-color: #101010;
}

.itim-font {
    font-family: "Itim", cursive;
}

.mirza-font {
    font-family: "Mirza", cursive;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 3px solid #111;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.ProjectContainer::-webkit-scrollbar {
    position: relative;
    height: 10px;
    margin-top: 2;
}
